{
  "openapi": "3.1.0",
  "info": {
    "title": "Tradier Market Data",
    "version": "1.0.0",
    "description": "Accede a cotizaciones, opciones y datos de cuenta desde Tradier API"
  },
  "servers": [
    {
      "url": "https://api.tradier.com/v1"
    }
  ],
  "paths": {
    "/markets/quotes": {
      "get": {
        "summary": "Obtener cotización actual",
        "operationId": "getQuote",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Símbolo o símbolos separados por coma (ej: AAPL,MSFT)"
          }
        ],
        "responses": {
          "200": {
            "description": "Cotización obtenida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/markets/options/chains": {
      "get": {
        "summary": "Obtener cadena de opciones",
        "operationId": "getOptionChain",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "expiration",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "greeks",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Incluir griegas en respuesta"
          }
        ],
        "responses": {
          "200": {
            "description": "Cadena de opciones",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptionsChainResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Obtener perfil de usuario",
        "operationId": "getUserProfile",
        "responses": {
          "200": {
            "description": "Perfil de cuenta obtenido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/accounts/{account_id}/balances": {
      "get": {
        "summary": "Obtener balances de cuenta",
        "operationId": "getAccountBalances",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Número de cuenta Tradier"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances de cuenta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/accounts/{account_id}/positions": {
      "get": {
        "summary": "Obtener posiciones abiertas",
        "operationId": "getAccountPositions",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Número de cuenta Tradier"
          }
        ],
        "responses": {
          "200": {
            "description": "Posiciones de cuenta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "quotes": {
            "type": "object",
            "properties": {
              "quote": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "last": { "type": "number" },
                    "bid": { "type": "number" },
                    "ask": { "type": "number" },
                    "change": { "type": "number" },
                    "volume": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      },
      "OptionsChainResponse": {
        "type": "object",
        "properties": {
          "options": {
            "type": "object",
            "properties": {
              "option": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "symbol": { "type": "string" },
                    "strike": { "type": "number" },
                    "expiration_date": { "type": "string" },
                    "option_type": { "type": "string" },
                    "bid": { "type": "number" },
                    "ask": { "type": "number" },
                    "last": { "type": "number" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
